# Node modules (frontend)
FrontEnd/**/node_modules/
FrontEnd/**/.angular/
FrontEnd/**/dist/

# Backend
ECommerceApi/**/bin/
ECommerceApi/**/obj/
ECommerceApi/**/.vs/
ECommerceApi/**/.user

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.log
*.bak
ECommerceApi.bak